body{
    background-color: #212121;
    color: #ffffff;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #ffffff;
}
#clock{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
   background-color: rgb(131, 179, 43);
   padding: 20px 50px;
   margin-top: 10px; 
   border-radius: 10px;
}